body {
    background-image: url(images/jimi_hendrix_main.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
}

@font-face {
    font-family: "BungeeShade";
    src: url(fonts/Bungee_Shade/BungeeShade-Regular.ttf);
}

@font-face {
    font-family: "BarlowCLight";
    src: url(fonts/Barlow_Condensed/BarlowCondensed-Light.ttf);
}

@font-face {
    font-family: "BarlowCBold";
    src: url(fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf);
}

@font-face {
    font-family: "BungeeOutline";
    src: url(fonts/Bungee_Outline/BungeeOutline-Regular.ttf);
}

main {
    background-color: rgb(0, 0, 0, 0.4);
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 60px;
    border-radius: 20px;
}

main>h1 {
    font-family: "BungeeShade";
    color: rgb(173, 170, 170);
    font-size: 70px;
    margin-left: 20px;
    margin-top: 0;
    padding-top: 10px;
    line-height: 1;
}

nav {
    display: flex;
    gap: 5px;
    margin-top: 80px;
    margin-bottom: 80px;
}

nav>div {
    background-color: rgba(214, 214, 214, 0.6);
    flex-basis: 0;
    flex-grow: 1;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-family: "BarlowCLight";
    font-size: 25px;
    padding: 5px;
}

nav>div:nth-of-type(1) {
    margin-left: 20px;
}

nav>div:nth-of-type(2) {
    font-family: "BarlowCBold";
    box-shadow: 0px 0px 10px white;
    border: 1px solid white;
}

nav>div:nth-of-type(4) {
    margin-right: 20px;
}

main>div {
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    background-color: rgb(0, 0, 0, 0.3);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;

}

main>div {
    color: rgb(217, 217, 217);
}

div>section h1 {
    font-family: "BungeeOutline";
}

div>section>h2 {
    font-family: "BarlowCBold";
    color: rgb(185, 185, 185)
}

div p {
    font-family: "BarlowCLight";
}

.album1Songs>section>div:nth-of-type(1),
.album1Songs>section>div:nth-of-type(2) {
    background-color: rgb(255, 208, 0);
    color: rgb(189, 98, 113);
}

li {
    font-family: "BarlowCLight";
}

.album1Songs>div:nth-of-type(2),
.album1Songs>div:nth-of-type(3) h2 {
    font-family: "BarlowCLight";
}

.album1Info div {
    background-color: rgb(189, 98, 113);
    color: rgb(255, 208, 0);
    font-family: "BarlowCLight";
}

.album2Songs>div:nth-of-type(2),
.album2Songs>div:nth-of-type(3) {
    background-color: beige;
    color: blue
}

.album2Songs>div:nth-of-type(2),
.album2Songs>div:nth-of-type(3) h2 {
    font-family: "BarlowCLight";
}

.album2Info div {
    background-color: blue;
    color: beige;
    font-family: "BarlowCLight";
}

main>p {
    font-family: "BarlowCLight";
    color: rgb(217, 217, 217);
}

main>div>div {
    display: flex;
}


.album1Info {
    display: flex;
}

.album1Songs>section {
    display: flex;
}

.album1Songs{
    width: 35% ;
}

div>div>div{
    width: 65%;
}


.album1Songs>div:nth-of-type(1){
    margin-top: 10px;
    margin-right: 10px;
}
.album1Songs>div:nth-of-type(1) img{
    width: 100%;
    
}

section>section{
    gap: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

section>section>div:nth-of-type(1){
    border-radius: 0 0 0 20px;
    width: 50%;
}

section>section>div:nth-of-type(2){
    border-radius: 0 0 20px 0;
    width: 50%;
}
