/* General */

body {
    background-image: url(images/jimi_hendrix_main.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
}

@font-face {
    font-family: "BungeeShade";
    src: url(fonts/Bungee_Shade/BungeeShade-Regular.ttf);
}

@font-face {
    font-family: "BarlowCLight";
    src: url(fonts/Barlow_Condensed/BarlowCondensed-Light.ttf);
}

@font-face {
    font-family: "BarlowCBold";
    src: url(fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf);
}

@font-face {
    font-family: "BungeeOutline";
    src: url(fonts/Bungee_Outline/BungeeOutline-Regular.ttf);
}

/* Main */

main {
    background-color: rgb(0, 0, 0, 0.4);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 60px;
    border-radius: 20px;
    width: 80vw;
    padding: 20px;
}

/* Main Title */

main>h1 {
    font-family: "BungeeShade";
    color: rgb(197, 194, 194);
    font-size: 7.3vw;
    margin-top: 0;
    line-height: 1;
}

br {
    display: none;
}

/* Nav */

nav {
    display: flex;
    gap: 5px;
    margin-top: 80px;
    margin-bottom: 80px;
}

nav>div {
    background-color: rgba(214, 214, 214, 0.6);
    flex-basis: 0;
    flex-grow: 1;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-family: "BarlowCLight";
    font-size: 2.5vw;
    padding: 5px;
}

nav>div:nth-of-type(2) {
    font-family: "BarlowCBold";
    box-shadow: 0px 0px 10px white;
    border: 1px solid white;
}

nav>div:nth-of-type(1):hover {
    background-color: rgba(28, 27, 27, 0.6);
    color: white;
    cursor: pointer;
}

nav>div:nth-of-type(3):hover {
    background-color: rgba(28, 27, 27, 0.6);
    color: white;
    cursor: pointer;
}

nav>div:nth-of-type(4):hover {
    background-color: rgba(28, 27, 27, 0.6);
    color: white;
    cursor: pointer;
}

/* Content Section General */

main>div {
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 20px;
    color: rgb(217, 217, 217);
    overflow: hidden;
    width: 100%;
}

main>div>div {
    display: flex;
}

.albumSongs {
    width: 40%;
}

div>div>div {
    width: 60%;
}

/* Content Section Text */

div>section h1 {
    font-family: "BungeeOutline";
    color: rgb(255, 255, 255);
    font-size: 3vw;
    line-height: 0;
    padding-top: 15px;
}

div>section>h2 {
    font-family: "BarlowCBold";
    color: rgb(185, 185, 185);
    line-height: 0;
    padding-top: 4px;
    padding-bottom: 60px;
    font-size: 2.4vw;
}

div p {
    font-family: "BarlowCLight";
    font-size: 1.7vw;
}

div>div>div {
    margin-left: 15px;
}

div>section:nth-of-type(2) p {
    line-height: 0;
}

div>section:nth-of-type(2)>p:nth-of-type(2) {
    margin-left: 35px;
}

div>section:nth-of-type(2)>p:nth-of-type(3) {
    margin-left: 35px;
}

div>section:nth-of-type(2)>p:nth-of-type(4) {
    margin-left: 35px;
    padding-bottom: 60px;
}

article {
    margin-right: 15px;
}

/* Content Section Album */

.albumSongs>section {
    display: flex;
}

.albumSongs>section>div {
    background-color: rgb(255, 208, 0);
    color: rgb(189, 98, 113);
}

#songs2>div {
    background-color: rgb(59, 118, 185);
    color: rgb(252, 213, 192);
}

li {
    font-family: "BarlowCLight";
    font-size: 1.4vw;
}

.albumSongs>div {
    margin-top: 15px;
    margin-right: 15px;
    position: relative;
}

.albumSongs>div img:nth-of-type(1) {
    width: 100%;
    border-radius: 20px 20px 0 0;
    transition: 1s;
    height: 100%;
}

.albumSongs>div img:nth-of-type(2) {
    width: 100%;
    border-radius: 20px 20px 0 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    height: 99%;
    transition-property: opacity;
    transition: 1s;
}

.albumSongs>div:hover>img:nth-of-type(1) {
    opacity: 0;
}

.albumSongs>div:hover>img:nth-of-type(2) {
    opacity: 1;
}

section>section {
    gap: 10px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}

section>section>div:nth-of-type(1) {
    border-radius: 0 0 0 20px;
    width: 18vw;
}

section>section>div:nth-of-type(2) {
    border-radius: 0 0 20px 0;
    width: 18vw;
}

.albumSongs>section h2 {
    font-family: "BarlowCLight";
    font-size: 2.2vw;
    margin-left: 25px;
    line-height: 0;
}

/* Content Section Info */

.albumInfo div {
    background-color: rgb(190, 75, 140);
    color: rgb(255, 208, 0);
    font-family: "BarlowCLight";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6vw;
}

#info2>div {
    background-color: rgb(252, 213, 192);
    color: rgb(59, 118, 185);
}

.albumInfo {
    display: flex;
    height: 180px;
    gap: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 25px;
}

.albumInfo>div:nth-of-type(1) {
    width: 12vw;
    border-radius: 20px 0 20px 20px;
    padding: 0px 10px 0px 10px;
    margin-right: 130px;
    height: 190px;
}

.albumInfo>div:nth-of-type(2) {
    width: 27vw;
    border-radius: 20px 20px 20px 0;
    padding: 0px 10px 0px 10px;
    height: 190px;
}

.albumInfo>div:nth-of-type(3) {
    width: 12vw;
    border-radius: 0 20px 20px 20px;
    padding: 0px 10px 0px 10px;
    background-image: url(images/chas_chandler.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: end;
    color: white;
    height: 190px;
}

.albumInfo>div:nth-of-type(4) {
    width: 12vw;
    border-radius: 20px 20px 0 20px;
    padding: 0px 10px 0px 10px;
    height: 190px;
}

#info2>div:nth-of-type(1) {
    width: 27vw;
    border-radius: 20px 20px 20px 0;
    padding: 0px 10px 0px 10px;
    height: 190px;
    margin-right: 0;
}

#info2>div:nth-of-type(2) {
    width: 12vw;
    border-radius: 0 20px 20px 20px;
    padding: 0px 10px 0px 10px;
    height: 190px;
}

#info2>div:nth-of-type(3) {
    width: 27vw;
    border-radius: 0 20px 20px 20px;
    padding: 0px 10px 0px 10px;
    background-image: url(images/jimi_eddie.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: end;
    color: white;
    height: 190px;
}

#info2>div:nth-of-type(4) {
    width: 12vw;
    border-radius: 20px 20px 0 20px;
    padding: 0px 10px 0px 10px;
    height: 190px;
}

/* Footer */

main>p {
    font-family: "BarlowCLight";
    color: rgb(217, 217, 217);
    font-size: 1.4vw;
    line-height: 0;
    margin-bottom: 0;
    margin-top: 75px;
}

/* Media */

@media (min-width: 800px) and (max-width: 900px) {
    main h1 {
        font-size: 58px;
    }

    nav>div {
        font-size: 20px;
    }

    div>section h1 {
        font-size: 28px;
    }

    div>section h2 {
        font-size: 19px;
    }

    div p {
        font-size: 13.5px;
    }

    .albumSongs>section h2 {
        font-size: 17.5px
    }

    li {
        font-size: 11.5px;
    }

    .albumInfo div {
        font-size: 12.5px;
    }
}

@media (min-width: 900px) and (max-width: 1200px) {
    main h1 {
        font-size: 6.4vw;
    }

    nav>div {
        font-size: 2.2vw;
    }

    div>section h1 {
        font-size: 3.2vw;
    }

    div>section h2 {
        font-size: 2.1vw;
    }

    div p {
        font-size: 1.5vw;
    }

    .albumSongs>section h2 {
        font-size: 1.9vw;
    }

    li {
        font-size: 1.3vw;
    }

    .albumInfo div {
        font-size: 1.4vw;
    }
}

@media (min-width: 1200px) {
    main h1 {
        font-size: 77px;
    }

    nav>div {
        font-size: 25.5px;
    }

    div>section h1 {
        font-size: 38.2px;
    }

    div>section h2 {
        font-size: 25.5px;
    }

    div p {
        font-size: 18px;
    }

    .albumSongs>section h2 {
        font-size: 23px;
    }

    li {
        font-size: 15.5px;
    }

    .albumInfo div {
        font-size: 16.5px;
    }

    main {
        width: 960px;
        
    }
}